concourse/settings.yml
concourse-bosh-deployment/
.envrc
**/bbl-ops-files/
**/bosh-deployment/
**/create-director.sh
**/create-jumpbox.sh
**/delete-director.sh
**/delete-jumpbox.sh
**/jumpbox-deployment/
**/login.sh
**/terraform/
**/bbl-state.json

**/cloud-config/
**/runtime-config/
**/vars/.terraform.tfstate.lock.info
**/vars/bbl.tfvars
**/vars/terraform.tfstate
**/vars/jumpbox-state.json
**/vars/jumpbox-vars-file.yml
**/vars/jumpbox-vars-store.yml
**/vars/bosh-state.json
**/vars/director-vars-file.yml
**/vars/director-vars-store.yml
**/vars/cloud-config-vars.yml

